.header{
    .header__left{
        display: flex;
        align-items: center;
        .navbar-brand{
            flex-grow: 1;
            img{
                width: 110px;
            }
        }
        .categories{
            flex-grow: 1;
            @include text($color-gray-4,$fs-1,$fw-normal);
        }
        .input-search{
            flex-grow: 5;
            @include inputSearch($color-gray-1,$color-white-0,$color-gray-3);
            // form{
            //     background-color:$color-gray-1;
            //     // border: 1px solid $color-gray-1;
            //     border-radius: $border-radius;
            //     .form-control{
            //         background-color: transparent;
            //         border-color: transparent;
            //         transition: none;
            //         &:focus{
            //             background-color: $color-white-0;
            //             border-color: $color-gray-3;
            //             border-right-color: transparent;
            //             box-shadow: none;
            //         }
            //         &:focus+.input-group-append{
            //             .input-group-text{
            //                 background-color: $color-white-0;
            //                 border-color: $color-gray-3;
            //                 border-left-color: transparent;
            //                 &:hover{
            //                     background-color: $color-red-0;
            //                    color: $color-white-0;
            //                 }
            //             }
            //         }
            //     }
            //     .input-group-append{
            //         .input-group-text{
            //             background-color: transparent;
            //             border-color: transparent;
            //             color: $color-red-0;
            //             transition: none;
            //             &:hover{
            //                 background-color: $color-red-0;
            //                color: $color-white-0;
            //             }
            //         }
            //     }
            // }
        }
    }
    .navbar-nav{
        width: 100%;
        justify-content: space-around;
        .nav-item{
            .nav-link{
                padding: $pd-1 + 2 $pd-2 - 5;
                border: 1px solid transparent;
                border-radius: $border-radius;
                @include text($color-gray-4,$fs-1,$fw-normal);
                white-space: nowrap;
                &:hover{
                    background-color:$color-gray-1; 
                    border: 1px solid $color-gray-3;
                }
            }
            &:nth-child(3){
                .nav-link{
                    border-radius: 50%;
                }
            }
        }
        .button-group{
            margin-left: $mg-0;
            display: flex;
            white-space: nowrap;
        }
    }
    @include mediaQuery('extra-large'){
        .navbar-nav{
            .business, .teach{
                display: none;
            }
        }
    }
    @include mediaQuery('medium'){
        .header__left{
            .categories, .input-search{
                display: none;
            }
        }
        .navbar-nav{
            .button-group{
                display: none;
            }
        }
    }
}